<img src="https://habrastorage.org/webt/ia/m9/zk/iam9zkyzqebnf_okxipihkgjwnw.jpeg" />
    
**<center>[mlcourse.ai](https://mlcourse.ai) – Open Machine Learning Course** </center><br>
Authors: Arina Lopukhova (@erynn), and [Yury Kashnitsky](https://yorko.github.io) (@yorko). Edited by Vadim Shestopalov (@vchulski). [mlcourse.ai](https://mlcourse.ai) is powered by [OpenDataScience (ods.ai)](https://ods.ai/) © 2017—2022

# <center>Assignment #1. Task </center> <a class="tocSkip">
## <center>Exploratory Data Analysis (EDA) of Olympic games with Pandas </center> <a class="tocSkip">
    
<img src="https://habrastorage.org/webt/my/70/d9/my70d97xhwfj8krp2q2qmn_smww.png" width=50%>

There are ten questions about 120 years of Olympic history in this assignment.

### Your task is to:
 1. write code and perform computations in the cells below;
 2. choose answers in the [webform](https://docs.google.com/forms/d/1SJcNJxnY5Wwb_sDSxmb-FyghraeOt-ZmQMA0XzOLu4I).
 
*If you are sure that something is not 100% correct with the assignment/solution, please leave your feedback via the mentioned webform ↑*

-----

In [1]:
from pathlib import Path

import pandas as pd

In [2]:
PATH_TO_DATA = Path("../../_static/data/assignment1")

In [7]:
df = pd.read_csv(PATH_TO_DATA / "athlete_events.csv.zip", index_col="ID")
df.head(10)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN

 The dataset has the following features:

- __ID__ – Unique number for each athlete
- __Name__ – Athlete's name
- __Sex__ – M or F
- __Age__ – Integer
- __Height__ – In centimeters
- __Weight__ – In kilograms
- __Team__ – Team name
- __NOC__ – National Olympic Committee 3-letter code
- __Games__ – Year and season
- __Year__ – Integer
- __Season__ – Summer or Winter
- __City__ – Host city
- __Sport__ – Sport
- __Event__ – Event
- __Medal__ – Gold, Silver, Bronze, or NA

**<font color='red'>Question 1.</font> How old were the youngest male and female participants of the 1992 Olympics?**

- 16 and 15
- 14 and 13 
- 13 and 11
- 11 and 12

In [11]:
df[df['Year'] == 1992].groupby('Sex')['Age'].min()

Sex
F    12.0
M    11.0
Name: Age, dtype: float64

**<font color='red'>Question 2.</font> What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.**

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions as well.

- 0.2
- 1.5 
- 2.5
- 7.7

In [31]:
num_men_2012 = df[(df['Year'] == 2012) & (df['Sex'] == 'M')]['Name'].nunique()
num_men_bball_2012 = df[(df['Year'] == 2012) & (df['Sex'] == 'M') & (df['Sport'] == 'Basketball')]['Name'].nunique()
num_men_bball_2012 * 100 / num_men_2012

2.458176852167975

**<font color='red'>Question 3.</font> What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.**

- 171.8 and 6.5
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [35]:
q = 'Year == 2000 & Sex == "F" & Sport == "Tennis"'
df.query(q)['Height'].agg(['mean', 'std'])

mean    171.792000
std       6.458673
Name: Height, dtype: float64

**<font color='red'>Question 4.</font> Find the heaviest athlete among 2006 Olympics participants. What sport did he or she do?**

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [43]:
max_weight_2006 = df[df['Year'] == 2006]['Weight'].idxmax()
df[df['Year'] == 2006].loc[max_weight_2006]

Name            Patrick R. Antaki
Sex                             M
Age                          41.0
Height                      185.0
Weight                      127.0
Team                      Lebanon
NOC                           LIB
Games                 2006 Winter
Year                         2006
Season                     Winter
City                       Torino
Sport                    Skeleton
Event     Skeleton Men's Skeleton
Medal                         NaN
Name: 4476, dtype: object

**<font color='red'>Question 5.</font> How many times did John Aalberg participate in the Olympics held in different years?**

- 0
- 1 
- 2
- 3

In [47]:
df[df['Name'] == 'John Aalberg']['Year'].nunique()

2

**<font color='red'>Question 6.</font> How many gold medals in tennis did the Switzerland team win at the 2008 Olympics?**

- 0
- 1 
- 2
- 3

In [51]:
df['Medal'].unique()
q = 'Year == 2008 & Sport == "Tennis" & Team == "Switzerland" & Medal == "Gold"'
df.query(q)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
34396,Roger Federer,M,26.0,185.0,80.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold
129042,Stanislas Wawrinka,M,23.0,183.0,79.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold

**<font color='red'>Question 7.</font>  Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in the _Medal_ column.**

- Yes
- No

In [53]:
q = 'Year == 2016 & (Team == "Spain" | Team == "Italy")'
df.query(q).dropna().groupby('Team')['Medal'].count()

Team
Italy    70
Spain    43
Name: Medal, dtype: int64

**<font color='red'>Question 8.</font> What are the least and most common age groups among the participants of the 2008 Olympics?**
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45) and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [63]:
bins = [15, 25, 35, 45, 55]
pd.cut(df[df['Year'] == 2008].drop_duplicates(subset='Name')['Age'], bins).reset_index().groupby('Age').count()

/var/folders/h5/dg326my56514y7y0ss_mnk4h0000gn/T/ipykernel_4535/3348199426.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  pd.cut(df[df['Year'] == 2008].drop_duplicates(subset='Name')['Age'], bins).reset_index().groupby('Age').count()

            ID
Age
(15, 25]  5616
(25, 35]  4658
(35, 45]   486
(45, 55]    60

**<font color='red'>Question 9.</font> Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?**

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [73]:
'Atlanta' in df.loc[(df['Season'] == 'Summer'), 'City'].unique(), 'Squaw Valley' in df.loc[(df['Season'] == 'Winter'), 'City'].unique()

(True, True)

**<font color='red'>Question 10.</font> What is the absolute difference between the number of unique sports at the 1994 Olympics and 2002 Olympics?**

- 3
- 10
- 15 
- 27

In [77]:
df[df['Year'] == 1994].nunique() - df[df['Year'] == 2002].nunique()

Name     -659
Sex         0
Age        -2
Height     -2
Weight      8
Team      -13
NOC       -10
Games       0
Year        0
Season      0
City        0
Sport      -3
Event     -17
Medal       0
dtype: int64